body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    
}

.container {
    background-color: rgb(68, 94, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 25px;
    width: 800px;
    height: 830px;
    margin-top: 40px;
       
}

.title {
    background-color: rgb(63, 206, 250);
    font-size: 65px;
    margin-bottom: 10px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 800px;    
}

.pre_screen {
    background-color: rgb(216, 216, 216);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 710px;
    height: 50px;
    margin-bottom: 1px;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.current_screen {
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 710px;
    height: 75px;
    margin-bottom: 8px;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

button {
    width: 190px;
    height: 105px;
    font-size: 50px;
}

.symbol, .clear, .delete, .dot  {
    background-color: rgb(247, 99, 99);
}

button.symbol:hover, button.clear:hover, button.delete:hover, button.dot:hover {
    background-color: rgb(248, 162, 162);
}

.number {
    background-color: rgb(139, 243, 139);
}
button.number:hover {
    background-color: rgb(176, 248, 103);
}

